
* {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
}

body {
    flex-direction: row;
    display: flex;
    background: #f5f5f5;
    min-width: 300px;
    margin: 0px;
}

main {
    flex: 1;
    background: #e3e3e3;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 100%;
    max-width: 30cm;
    padding: 32px;
    margin-bottom: 1.5cm;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: #737374;
}

.icon {
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.3em;
}

section {
    margin-bottom: 0.6cm;
}

article h3 {
    font-weight: normal;
    color: #3aa3db;
    font-size: 1em;
    margin-bottom: 8px;
}

article p {
    color: #737374;
    font-size: 1em;
    line-height: 1.2;
    margin-block-start: 0.2em;
}

/* menu gauche */

aside {
    width: 8cm;
    display: flex;
    flex-direction: column;
    background-color: #1da5d9;
    padding-bottom: 2cm;
}

aside p {
    color: white;
    font-size: 0.7em;
}

.competence {
    margin-left: 1.3cm;
    width: 5.5cm;
}


.meme {
    position: relative;
    width: 100%;
    height: 227px;
    overflow: hidden;
}

.meme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meme .text {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #b1e0ff;
}

.grilleContact {
    display: grid;
    grid-template-columns: 0.7cm 1fr;
    grid-template-rows: repeat(4, auto);
    margin: 0.3cm;
    margin-top: 1cm;
    column-gap: 0.3cm;
    row-gap: 1cm;
    font-size: 0.9em;
    color: white;
}

@media (max-width: 900px) {
    body {
        flex-direction: row;
    }

    .main {
        padding: 20px 10px;
    }

    aside {
        width: 6cm
    }

    .competence {
        margin-left: 0.3cm;
    }
}


@media (max-width: 700px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .competence {
        margin-left: 1.3cm;
    }
}
